* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  line-height: 1.6;
}

mark {
  background-color: black;
  color: white;
}

header {
  background-color: #890000;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Germania One, monospace;
}

.logo a {
  text-decoration: none;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  display: inline-block;
  transition: transform 0.3s ease;
  font-family: Germania One, monospace;
}

.nav-links a:hover {
  background-color: #d30000;
  border-radius: 20px;
}

/* Seções */
.section {
  padding: 100px;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

/* Seções com imagens de fundo */
#inicio {
  background-image: url(image.jpg);
  height: 110vh;
}

#inicio p {
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

#inicio h1 {
  font-family: Germania One;
  color: yellow
}


#historia {
  background-image: url(airplane.jpg);
  height: 100vh;
}

#historia p {
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

#historia h1 {
  font-family: Germania One;
  color: yellow;
}

#sobre {
  background-color: black
}

#sobre p {
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#sobre h1 {
  color: yellow;
  font-family: Germania One;
}

#sobre img {
  height: 120px;
  width: 180px;
}

#contato {
  background-image: url(1081214.jpg);
  height: 250vh;
}

#contato img {
  width: 280px;
  height: 190px;
}

#contato h1 {
  font-family: Germania One;
  color: yellow;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 5px 10px;
  display: inline-block;
  transition: transform 0.3s ease;
  font-family: Germania One, monospace;
}

button {
  border-radius: 10px;
  background-color: #890000;
}

button a:hover {
  background-color: #d30000;
  border-radius: 10px;
}


/* Rodapé */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}